.header {
  max-width: 1200px;
  width: 100%;
  background-color: rgba(black, 0.5);
  border-radius: 15px;
  padding: 15px;
  margin: 20px auto 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  gap: 70px;
  width: 100%;
  padding: 0;
  list-style: none;
}

.link {
  color: white;
  text-decoration: none;
}
